---
import Layout from "../layouts/PageLayout.astro";
import VisitArticleButton from "../components/VisitArticleButton.astro";

const seo = {
  title: "404",
  image: "https://i.imgur.com/hev2VXn.png",
};
---

<Layout seo={seo}>
  <div class="wrapper">
    <h1>You've reached a <br />broken link.</h1>
    <VisitArticleButton
      url="/"
      inputText="Return home"
      colorPrimary={"var(--color-red-light)"}
      colorSecondary={"var(--color-red-dark)"}
    />
  </div>
  
</Layout>

<style lang="scss">
  .wrapper {
    min-height: 50vh;
    width: var(--page-width);
    max-width: var(--max-page-width);
    margin: 0 auto;
    h1 {
      padding-top: 20vh;
    }
  }
</style>
