---
import Layout from "../layouts/PageLayout.astro";
import Container from "../components/Container.astro";
import Landing from "../components/Landing.astro";
import ResearchArticles from "../components/ResearchArticles.astro";
import OtherArticles from "../components/OtherArticles.astro";
import {
  getResearchPosts,
  getApproachPosts,
  getStrategyPosts,
} from "../lib/api.js";

const seo = {
  // title: "Mimotype",
  description: "Join us in shaping the future of the optoelectronics industry.",
  image: "https://i.imgur.com/hev2VXn.png",
};

const researchPostData = await getResearchPosts();
const approachPostData = await getApproachPosts();
const strategyPostData = await getStrategyPosts();
---

<Layout seo={seo}>
  <Landing />
  <div class="pageWrapper">
    <h1>
      Organic light. <br /> For a brighter future.
    </h1>
    <section class="researchArticlesWrapper">
      <h2>Research</h2>
      {
        researchPostData && (
          <ResearchArticles data={researchPostData} slugType="research" />
        )
      }
      {
        approachPostData && (
          <div class="otherArticleWrapper">
            <div class="otherTitle">
              <h2>Our R&D Approach</h2>
            </div>
            <OtherArticles data={approachPostData} slugType="r-n-d-approach" />
          </div>
        )
      }
      {
        strategyPostData && (
          <div class="otherArticleWrapper">
            <div class="otherTitle">
              <h2>Strategy</h2>
            </div>
            <OtherArticles data={strategyPostData} slugType="strategy" />
          </div>
        )
      }
    </section>
  </div>
</Layout>

<style lang="scss">
  .pageWrapper {
    width: var(--page-width);
    max-width: var(--max-page-width);
    position: relative;
    margin: 0 auto;
    h1 {
      padding: 3rem 0;
      margin: 6rem 0;
      border-bottom: 1px solid var(--color-grey);
    }
  }

  .researchArticlesWrapper {
    width: 95%;
    display: block;
    position: relative;
    margin: 0 auto;
    h2 {
      margin-bottom: 3rem;
    }
  }

  .otherArticleWrapper {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    border-top: 1px solid var(--color-grey);

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;

    .otherTitle {
      grid-column: 1 / 2;
      h2 {
        width: 70%;
      }
    }
  }
  @media (max-width: 1280px) {
    .otherArticleWrapper {
      display: block;
    }
  }
  @media (max-width: 768px) {
    .otherArticleWrapper {
      display: block;
    }
  }
  @media (max-width: 576px) {
    .pageWrapper {
      z-index: 100;
      h1 {
        padding: 0;
        padding-bottom: 2rem;
        margin: 3rem 0;
        margin-top: 0;
      }
    }
  }
</style>
