---
import Layout from "../layouts/PageLayout.astro";
import Landing from "../components/Landing.astro";
import CompaniesArticles from "../components/CompaniesArticles.astro";
import OtherArticles from "../components/OtherArticles.astro";
import { getCompaniesPosts, getThesisPosts, getTeamPosts } from "../lib/api.js";

const seo = {
  title: "Mimotype",
  description: "Biology is nanotech gone live.",
  image: "https://i.imgur.com/hev2VXn.png",
};

const companiesPostData = await getCompaniesPosts();
const thesisPostData = await getThesisPosts();
const teamPostData = await getTeamPosts();
console.log(companiesPostData);
---

<Layout seo={seo}>
  <Landing />
  <div class="pageWrapper">
    <div class="header">
      <h1>
        The bionano <br />progenote org
      </h1>
      <p>
        Biology is nanotech going live: Mimotype designs ecologically seamless nanomaterials for the light-biomatter interface.
        <br />
        <br />
        We build biomimetic devices and systems for organic/transient electronics,
        and soft robotics using bio-inspired semiconductors and engineered proteins.
      </p>
    </div>
    <section class="companiesArticlesWrapper">
      {
        companiesPostData.length ? (
          <span>
            <h2>Companies</h2>
            <CompaniesArticles data={companiesPostData} slugType="research" />
          </span>
        ) : null
      }
      {
        thesisPostData.length ? (
          <div class="otherArticleWrapper">
            <div class="otherTitle">
              <h2>Thesis</h2>
            </div>
            <OtherArticles data={thesisPostData} slugType="thesis" />
          </div>
        ) : null
      }
      {
        teamPostData.length ? (
          <div class="otherArticleWrapper">
            <div class="otherTitle">
              <h2>Team</h2>
            </div>
            <OtherArticles data={teamPostData} slugType="team" />
          </div>
        ) : null
      }
    </section>
  </div>
</Layout>

<style lang="scss">
  .pageWrapper {
    width: var(--page-width);
    max-width: var(--max-page-width);
    position: relative;
    margin: 0 auto;
    .header {
      border-bottom: 1px solid var(--color-grey);
      margin: 6rem 0;
      h1 {
        padding: 3rem 0;
      }
      p {
        max-width: 620px;
        padding-bottom: 2rem;
      }
    }
  }

  .companiesArticlesWrapper {
    width: 95%;
    display: block;
    position: relative;
    margin: 0 auto;
    h2 {
      margin-bottom: 3rem;
    }
  }

  .otherArticleWrapper {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    border-top: 1px solid var(--color-grey);

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;

    .otherTitle {
      grid-column: 1 / 2;
      h2 {
        width: 70%;
      }
    }
  }
  @media (max-width: 1280px) {
    .otherArticleWrapper {
      display: block;
    }
  }
  @media (max-width: 768px) {
    .otherArticleWrapper {
      display: block;
    }
  }
  @media (max-width: 576px) {
    .pageWrapper {
      z-index: 100;
      .header {
        padding: 0;
        margin: 3rem 0;
        margin-top: 0;

        h1 {
          padding-bottom: 2rem;
        }
        p {
          padding-bottom: 3rem;
        }
      }
    }
  }
</style>
