---
import Layout from "../layouts/PageLayout.astro";

const seo = {
  title: "Privacy Policy",
  description: "Join us in shaping the future of the optoelectronics industry.",
  image: "https://i.imgur.com/hev2VXn.png",
};
---

<Layout seo={seo}>
  <section class="pageWrapper">
    <div class="articleWrapper">
      <h1>Privacy Policy</h1>
      <p>
        Personal data (usually referred to just as "data" below) will only be
        processed by us to the extent necessary and for the purpose of providing
        a functional and user-friendly website, including its contents, and the
        services offered there.
        <br />
        <br />
        Per Art. 4 No. 1 of Regulation (EU) 2016/679, i.e. the General Data Protection
        Regulation (hereinafter referred to as the "GDPR"), "processing" refers to
        any operation or set of operations such as collection, recording, organization,
        structuring, storage, adaptation, alteration, retrieval, consultation, use,
        disclosure by transmission, dissemination, or otherwise making available,
        alignment, or combination, restriction, erasure, or destruction performed
        on personal data, whether by automated means or not.
        <br />
        <br />

        The following privacy policy is intended to inform you in particular
        about the type, scope, purpose, duration, and legal basis for the
        processing of such data either under our own control or in conjunction
        with others. We also inform you below about the third-party components
        we use to optimize our website and improve the user experience which may
        result in said third parties also processing data they collect and
        control.

        <br />
        <br />

        Our privacy policy is structured as follows:
      </p>
      <ul>
        <li>I. Information about us as controllers of your data</li>

        <li>II. The rights of users and data subjects</li>

        <li>III. Information about the data processing</li>
      </ul>
      <br />
      <br />

      <h2>I. Information about us as controllers of your data</h2>
      <br />

      <p>
        The party responsible for this website (the "controller") for purposes
        of data protection law is:
        <br />
        <br />

        Mimotype Technologies GmbH
        <br />

        Friedrichstraße 17
        <br />

        10969 Berlin
        <br />

        Telephone: +017668363878
        <br />

        Email: danilo@mimotype.org
        <br />
        <br />
      </p>
      <h2>II. The rights of users and data subjects</h2>
      <br />
      <br />
      <p>
        With regard to the data processing to be described in more detail below,
        users and data subjects have the right:
      </p>
      <ul>
        <li>
          To confirmation of whether data concerning them is being processed,
          information about the data being processed, further information about
          the nature of the data processing, and copies of the data (cf. also
          Art. 15 GDPR);
        </li>

        <li>
          To correct or complete incorrect or incomplete data (cf. also Art. 16
          GDPR);
        </li>

        <li>
          To the immediate deletion of data concerning them (cf. also Art. 17
          DSGVO), or, alternatively, if further processing is necessary as
          stipulated in Art. 17 Para. 3 GDPR, to restrict said processing per
          Art. 18 GDPR;
        </li>

        <li>
          To receive copies of the data concerning them and/or provided by them
          and to have the same transmitted to other providers/controllers (cf.
          also Art. 20 GDPR);
        </li>

        <li>
          To file complaints with the supervisory authority if they believe that
          data concerning them is being processed by the controller in breach of
          data protection provisions (see also Art. 77 GDPR).
        </li>
      </ul>
      <p>
        In addition, the controller is obliged to inform all recipients to whom
        it discloses data of any such corrections, deletions, or restrictions
        placed on processing the same per Art. 16, 17 Para. 1, 18 GDPR. However,
        this obligation does not apply if such notification is impossible or
        involves a disproportionate effort. Nevertheless, users have a right to
        information about these recipients. Likewise, under Art. 21 GDPR, users
        and data subjects have the right to object to the controller's future
        processing of their data pursuant to Art. 6 Para. 1 lit. f) GDPR. In
        particular, an objection to data processing for the purpose of direct
        advertising is permissible.
      </p>
      <br />
      <br />
      <h2>III. Information about data processing</h2>
      <br />
      <p>
        Your data processed when using our website will be deleted or blocked as
        soon as the purpose for its storage ceases to apply, provided the
        deletion of the same is not in breach of any statutory storage
        obligations or unless otherwise stipulated below.
        <br />
        <br />
      </p>
      <h4>Twitter</h4>
      <br />
      <p>
        We maintain an online presence on Twitter to present our company and our
        services and to communicate with customers/prospects. Twitter is a
        service provided by Twitter Inc., 1355 Market Street, Suite 900, San
        Francisco, CA 94103, USA.
        <br />
        <br />
        We would like to point out that this might cause user data to be processed
        outside the European Union, particularly in the United States. This may increase
        risks for users that, for example, may make subsequent access to the user
        data more difficult. We also do not have access to this user data. Access
        is only available to Twitter. Twitter Inc. is certified under the Privacy
        Shield and committed to adhering to European privacy standards.
        <br />
        <br />
        <a
          href="https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO&status=Active"
        >
          https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO&status=Active
        </a>
        <br />
        <br />
        The privacy policy of Twitter can be found <a
          href="https://twitter.com/privacy">here</a
        >.
      </p>
      <br />
      <br />
      <h4>Social media links via graphics</h4>
      <br />
      <p>
        We also integrate the following social media sites into our website. The
        integration takes place via a linked graphic of the respective site. The
        use of these graphics stored on our own servers prevents the automatic
        connection to the servers of these networks for their display. Only by
        clicking on the corresponding graphic will you be forwarded to the
        service of the respective social network.
        <br />
        <br />
        Once you click, that network may record information about you and your visit
        to our site. It cannot be ruled out that such data will be processed in the
        United States.
        <br />
        <br />
        Initially, this data includes such things as your IP address, the date and
        time of your visit, and the page visited. If you are logged into your user
        account on that network, however, the network operator might assign the information
        collected about your visit to our site to your personal account. If you interact
        by clicking Like, Share, etc., this information can be stored your personal
        user account and possibly posted on the respective network. To prevent this,
        you need to log out of your social media account before clicking on the graphic.
        The various social media networks also offer settings that you can configure
        accordingly. <br /><br />The following social networks are integrated
        into our site by linked graphics:
        <br />
        <br />
        Twitter Twitter Inc., <br />795 Folsom St., Suite 600,<br /> San Francisco,
        CA 94107, USA
        <br />
        <br />
        Privacy Policy:
        <br />
        <a href="https://twitter.com/privacy"> https://twitter.com/privacy</a>
        <br />
        <br />
        EU-US Privacy Shield
        <br />
        <a href="https://www.privacyshield.gov">
          https://www.privacyshield.gov</a
        >
      </p>
    </div>
  </section>
</Layout>

<style lang="scss">
  .pageWrapper {
    width: var(--page-width);
    max-width: var(--max-page-width);
    position: relative;
    margin: 0 auto;
    h1 {
      padding: 2rem 0;
      margin: 4rem 0;
      margin-top: 20vh;
      border-bottom: 1px solid var(--color-grey);
    }
    h2 {
      border-top: 1px solid var(--color-grey);
      padding-top: 4rem;
      margin-top: 4rem;
    }
    h4 {
      margin-top: 2rem;
    }
    a {
      color: var(--color-red-light);
    }
    a:hover {
      filter: brightness(0.6);
    }
    li {
      margin-bottom: 1rem;
    }
  }
  .articleWrapper {
    width: 65%;
    margin: 0 auto;
  }

  @media (max-width: 1500px) {
    .articleWrapper {
      width: 85vw;
    }
  }
  @media (max-width: 576px) {
    .articleWrapper {
      width: 100%;
    }
    .pageWrapper {
      z-index: 100;
      h1 {
        padding: 0;
        padding-bottom: 2rem;
        margin: 3rem 0;
        margin-top: 10rem;
      }
    }
  }
</style>
