<footer class="footer">
  <div class="inner">
    <div class="left">
      <svg
        class="stampLogo"
        width="64"
        height="100"
        viewBox="0 0 64 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M52.5221 8.23529C52.6674 7.79412 53.3939 7.79412 53.3939 8.38235V43.6765C53.3939 46.0294 51.5051 47.7941 49.1805 47.9412H45.5482C45.4029 47.9412 45.1124 48.2353 45.1124 48.3824C45.1124 48.5294 45.2577 48.8235 45.5482 48.8235H59.0602C59.496 48.8235 59.9319 48.5294 60.0772 48.0882L62.6924 41.6176C62.8377 41.1765 62.983 40.7353 62.983 40.2941V0.588235C62.983 0.294117 62.6924 0 62.4018 0H45.8388C45.5482 0 45.4029 0.147058 45.4029 0.441175C45.4029 0.735293 45.5482 0.882353 45.8388 0.882353H49.1805C51.0692 0.882353 52.6674 1.47059 53.1033 2.20588C53.2486 2.5 53.2486 2.94118 53.1033 3.38235L41.1896 33.2353L27.9682 0H10.2429C10.0976 0 9.95232 0.147058 9.95232 0.441175C9.95232 0.588234 10.0976 0.882353 10.2429 0.882353C11.8411 0.882353 13.8751 0.882353 15.4733 1.47059C16.7809 1.91176 17.5074 3.52941 16.9262 4.85294L0.653802 45.5882C-0.217934 47.6471 -0.217934 49.8529 0.653802 51.9118L17.9432 95C19.1056 98.0882 22.1566 100 25.353 100H63.5641C63.7094 100 64 99.8529 64 99.5588C64 99.4118 63.8547 99.1176 63.5641 99.1176H61.0942C57.3167 99.1176 56.5902 97.3529 55.7185 95.2941L39.0102 53.6765C38.5743 52.9412 38.8649 52.2059 39.5914 52.2059H46.7106C52.8127 52.2059 57.8978 52.0588 61.8207 61.3235C61.8207 61.4706 62.1112 61.6176 62.2565 61.6176C62.5471 61.6176 62.8377 61.3235 62.6924 61.0294L58.9149 51.4706C58.9149 51.3235 58.7696 51.3235 58.6243 51.3235H5.44835C5.01248 51.3235 4.7219 51.7647 4.86719 52.2059L8.49943 61.4706C8.49943 61.6177 8.79001 61.7647 8.9353 61.7647C9.22588 61.7647 9.51646 61.4706 9.37117 61.1765L8.64472 59.4118C7.33712 56.0294 9.80704 52.2059 13.4393 52.2059H26.8059C27.5323 52.2059 28.2588 52.6471 28.5494 53.3824L31.7457 61.3235L45.6935 96.3235C46.2747 97.6471 45.2577 99.1176 43.8048 99.1176H25.353C22.5925 99.1176 20.1226 97.5 19.1056 94.8529L1.9614 51.7647C1.08967 49.7059 1.08967 47.5 1.9614 45.4412L18.3791 4.26471C18.5244 3.82353 19.1056 3.82353 19.2508 4.26471L34.7968 42.6471H38.1385C38.4291 42.6471 38.7196 42.5 38.8649 42.2059L52.5221 8.23529Z"
          fill="#7A7A7A"></path>
      </svg>
      <span class="flex">
        <small>
          ©{new Date().getFullYear()} Mimotype Technologies GmbH <br
          />Friedrichstraße 17, 10969 Berlin
        </small>
        <a href="/imprint">
          <small> Imprint</small>
        </a>
        <a href="/privacy-policy">
          <small>Privacy Policy</small>
        </a>
      </span>
    </div>

    <span class="right">
      <a href="https://twitter.com/mimoclique" rel="noreferrer" target="_blank">
        <svg
          width="26"
          height="21"
          viewBox="0 0 26 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M26 2.47059C25.043 2.90294 24.0115 3.18706 22.9426 3.32294C24.0363 2.66824 24.8815 1.63059 25.2792 0.382941C24.2476 1.00059 23.1042 1.43294 21.8987 1.68C20.9168 0.617647 19.5373 0 17.9713 0C15.0507 0 12.6644 2.37176 12.6644 5.29941C12.6644 5.71941 12.7142 6.12706 12.8011 6.51C8.37667 6.28765 4.4369 4.17529 1.81453 0.975882C1.35468 1.75412 1.09369 2.66824 1.09369 3.63176C1.09369 5.47235 2.02581 7.10294 3.4675 8.02941C2.58509 8.02941 1.76482 7.78235 1.04398 7.41176V7.44882C1.04398 10.0182 2.88337 12.1676 5.31931 12.6494C4.53723 12.8621 3.71618 12.8917 2.92065 12.7359C3.25821 13.7889 3.91931 14.7104 4.81102 15.3707C5.70272 16.031 6.78019 16.3969 7.89197 16.4171C6.00738 17.9 3.67131 18.7015 1.26769 18.69C0.845124 18.69 0.422562 18.6653 0 18.6159C2.36138 20.1229 5.17017 21 8.17782 21C17.9713 21 23.3528 12.9212 23.3528 5.91706C23.3528 5.68235 23.3528 5.46 23.3403 5.22529C24.3843 4.48412 25.2792 3.54529 26 2.47059Z"
            fill="#7A7A7A"></path>
        </svg>
      </a>
      <a
        href="https://www.linkedin.com/company/mimotype/"
        rel="noreferrer"
        target="_blank"
      >
        <svg
          width="22"
          height="22"
          viewBox="0 0 22 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.5556 0C20.2039 0 20.8256 0.257539 21.284 0.715961C21.7425 1.17438 22 1.79614 22 2.44444V19.5556C22 20.2039 21.7425 20.8256 21.284 21.284C20.8256 21.7425 20.2039 22 19.5556 22H2.44444C1.79614 22 1.17438 21.7425 0.715961 21.284C0.257539 20.8256 0 20.2039 0 19.5556V2.44444C0 1.79614 0.257539 1.17438 0.715961 0.715961C1.17438 0.257539 1.79614 0 2.44444 0H19.5556ZM18.9444 18.9444V12.4667C18.9444 11.4099 18.5247 10.3965 17.7774 9.64924C17.0302 8.90201 16.0167 8.48222 14.96 8.48222C13.9211 8.48222 12.7111 9.11778 12.1244 10.0711V8.71444H8.71444V18.9444H12.1244V12.9189C12.1244 11.9778 12.8822 11.2078 13.8233 11.2078C14.2771 11.2078 14.7124 11.3881 15.0333 11.709C15.3542 12.0298 15.5344 12.4651 15.5344 12.9189V18.9444H18.9444ZM4.74222 6.79556C5.2868 6.79556 5.80907 6.57922 6.19415 6.19415C6.57922 5.80907 6.79556 5.2868 6.79556 4.74222C6.79556 3.60556 5.87889 2.67667 4.74222 2.67667C4.1944 2.67667 3.66902 2.89429 3.28165 3.28165C2.89429 3.66902 2.67667 4.1944 2.67667 4.74222C2.67667 5.87889 3.60556 6.79556 4.74222 6.79556ZM6.44111 18.9444V8.71444H3.05556V18.9444H6.44111Z"
            fill="#7A7A7A"></path>
        </svg>
      </a>
    </span>
  </div>
</footer>



<style lang="scss">
  .footer {
    width: 92vw;
    max-width: var(--max-page-width);
    margin: 4rem auto;
    margin-bottom: 2rem;
    border-top: 1px solid var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
    position: relative;
  }
  .inner {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
  }
  .flex {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      color: var(--color-grey);
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .left {
    display: flex;
  }
  .right {
    display: inline-block;
    height: auto;
    a {
      display: inline-block;
      min-height: 22px;
      margin-left: 1rem;
    }
    a:hover {
      filter: brightness(0.5);
    }
  }

  @media (max-width: 576px) {
    .inner {
      margin-top: 2rem;
      margin-bottom: 6rem;
    }
    .stampLogo {
      max-width: 34px;
      height: auto;
    }
    .inner {
      display: block;
    }
    .flex {
      margin: 2rem 0;
      // display: inline;
      a {
        display: block;
      }
    }

    .flex > small:first-of-type {
      margin-bottom: 1rem;
    }

    .left {
      display: block;
    }

    .right {
      margin-left: 0rem;
      // margin-top: 1rem;
      a {
        margin-left: 0;
        margin-right: 1rem;
      }
    }
  }
</style>
