<footer class="footer">
  <div class="svgWrapper">
    <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      x="0"
      y="0"
      viewBox="0 0 1717.5 324.7"
      style="enable-background:new 0 0 1717.5 324.7"
      xml:space="preserve"
    >
      <style>
        .st0 {
          fill: var(--color-grey);
        }
      </style>
      <path
        class="st0"
        d="M318.2.4c1.9 0 3.5 1.6 3.5 3.5v198.5c0 2.3-.4 4.2-1.5 6.6l-13.1 32c-.8 2.3-2.7 3.5-5 3.5h-68c-1.2 0-1.9-.8-1.9-1.9 0-1.2 1.2-2.3 1.9-2.3h18.1c11.6 0 20.9-9.3 20.9-20.9V42.6c0-1.3-1-1.9-2.1-1.9-.9 0-1.8.5-2.2 1.6L215.1 175 200 212.5c-.8 1.5-2.3 2.7-3.9 2.7h-17l-78-192.3c-.4-1-1.4-1.4-2.3-1.4s-1.9.5-2.3 1.4L20.5 211c-8.9 21.2-6.6 29 5.8 29.7 1.2 0 1.9.8 1.9 1.9 0 1.2-.8 1.9-1.9 1.9H0l88.8-220c2.7-7-.8-14.7-7.7-17-6.3-2.1-14-2.3-20.8-2.3h-5.5c-1.2 0-1.9-1.2-1.9-2.3 0-1.5.4-2.4 1.5-2.4H144l67.2 166.1 60.2-149c.8-1.9.8-4.2 0-5.8-2.3-4.2-10-7-19.7-7h-17c-1.2 0-1.9-1.2-1.9-2.3 0-1.2.8-2 1.9-2h83.5m0-1.1h-83.4c-1.7 0-2.9 1.3-2.9 3 0 1.6 1.1 3.3 2.9 3.3h17c9.3 0 16.7 2.5 18.8 6.4.6 1.2.6 3.3-.1 4.9l-59.3 146.8L145 .1l-.3-.6H54.5c-1.2 0-2.5.6-2.5 3.4 0 1.6 1.1 3.3 2.9 3.3h5.5c7.1 0 14.4.3 20.4 2.3 3 1 5.5 3.2 6.8 6.1 1.4 3 1.5 6.4.3 9.6l-88.8 220-.6 1.4h27.8c1.7 0 2.9-1.2 2.9-2.9s-1.2-2.9-2.9-2.9c-4.6-.3-7.5-1.6-8.9-3.9-2.5-4.1-1.2-11.8 4-24.4L97.5 23.3c.2-.6.9-.8 1.4-.8s1.1.2 1.4.8l78 192.3.3.6h17.7c1.9 0 3.8-1.3 4.8-3.3l15.1-37.5 53.7-132.8c.3-.8 1-.9 1.2-.9.1 0 1.1 0 1.1.9v176.8c0 10.9-8.9 19.9-19.9 19.9H234c-1.4 0-2.9 1.7-2.9 3.3 0 1.7 1.2 2.9 2.9 2.9h68c2.9 0 5.1-1.5 6-4.1l13.1-32c1.2-2.3 1.6-4.4 1.6-7V4c0-2.5-2-4.6-4.5-4.6zm581.9 1c3.1 0 6.2 1.2 7.3 4.3l3.9 9.3 56.4 131.3c3.5 7.3 3.5 15.8.4 23.2-11.6 28.6-34 51.7-62.2 64.5-13.9 6.2-29 9.7-44.4 10.4l-9.3.4h-202l-.4-201.9c0-1.3-1.2-2.2-2.3-2.2-.8 0-1.6.4-1.9 1.4l-68.7 170.3c-.8 1.5-2.3 2.3-3.9 2.3h-17l-65.6-163-71 175.7c-2.3 6.6 2.3 13.1 8.9 13.1h7c1.2 0 2.3 1.2 2.3 2.3s-1.2 2.3-2.3 2.3h-29.8L487 42.5l-10.8-27 5-12c.8-1.9 2.7-3.2 4.6-3.2h37.8l66 163.8L655.6.3H736c1.2 0 1.9.8 1.9 2s-.8 1.9-1.9 1.9h-17c-11.6 0-20.9 9.3-20.9 20.9v193.5c0 8.5 4.6 16.2 12.4 19.7 2.7.8 20.9 1.2 23.9 1.2h44c10.8 0 15.4-13.9 7-20.1-30.1-22.4-49.4-57.9-49.4-97.7C736 56.1 788.5 3.1 854.1.4h46m-43.3 240.3c45.2-1.5 71.8-53.7 71.8-118.2 0-58.7-22.4-107.3-61-116.6-3.5-.8-7.1-1.2-10.8-1.2-3.7 0-7.3.4-10.8 1.2-38.6 8.9-61 57.9-61 116.6 0 64.1 26.7 116.3 71.8 118.2M900.1-.6h-45.9C822 .8 792 14 769.7 36.8c-22.4 22.9-34.7 53.1-34.7 85 0 19.6 4.6 38.4 13.5 55.8 8.6 16.6 21.1 31.4 36.3 42.7 4.2 3.1 4.6 7.7 3.5 11.1-1.4 4.4-5.3 7.2-9.8 7.2h-44c-3.9 0-21-.4-23.6-1.1-7.2-3.3-11.7-10.5-11.7-18.7V25.2c0-10.9 8.9-19.9 19.9-19.9h17c1.7 0 2.9-1.2 2.9-2.9s-1.2-3-2.9-3H655l-.3.6-65.1 161.5L524.5.1l-.3-.6h-38.5c-2.4 0-4.7 1.5-5.6 3.8l-5 12-.2.4.2.4 10.7 26.7L404.5 244l-.6 1.4h31.3c1.7 0 3.3-1.6 3.3-3.3 0-1.7-1.6-3.3-3.3-3.3h-7c-2.8 0-5.3-1.3-6.9-3.6-1.7-2.4-2.1-5.4-1.1-8.2l70.1-173.4L555.1 214l.3.6h17.7c2 0 3.9-1.1 4.8-2.9l68.7-170.3c.2-.6.6-.7 1-.7.5 0 1.3.4 1.3 1.2l.4 201.9v1h203l9.3-.4c15.8-.8 30.9-4.3 44.8-10.5 14.2-6.4 26.8-15.3 37.6-26.5s19.3-24.2 25.1-38.5c3.3-7.8 3.1-16.5-.4-24L912.2 13.6l-3.9-9.3c-1.1-3-4.2-4.9-8.2-4.9zm-43.2 240.3c-21.2-.9-39.2-13.1-52-35.3-12.1-21-18.8-50.1-18.8-81.9 0-29.4 5.5-55.9 15.9-76.5 10.8-21.4 26.1-34.9 44.3-39.1 3.4-.8 6.9-1.1 10.6-1.1s7.2.4 10.6 1.1c18.2 4.4 33.6 17.9 44.3 39.2 10.4 20.6 15.9 47 15.9 76.4 0 32-6.7 61.2-18.8 82.2-12.9 22.2-30.8 34.2-52 35zM470.3.4l-98.5 244.1h-53.3l86.9-214.7c8.5-24.7-5-24.7-25.1-24.7-1.2 0-1.5-1.2-1.5-2.3 0-1.2.8-2.4 1.9-2.4h89.6m1.5-1h-91.1c-1.8 0-2.9 1.8-2.9 3.4 0 2 1 3.3 2.5 3.3 12 0 21.4 0 25 5.1 2.5 3.5 2.2 9.4-.8 18.3l-86.9 214.7-.6 1.4h55.5l.3-.6L471.3.8l.5-1.4zm912.9 1c22.8 0 45.2 9 61.4 24.8l.8.8c10.4 10 18.1 22.4 23.6 35.9l25.5 62.6c4.2 10.4 3.9 22.4-1.5 32.4-3.5 6.6-8.9 12-16.2 15.4-14.5 6.1-29.8 9.5-45.5 9.5-10.2 0-20.7-1.4-31.3-4.5-.8-.2-1.4-.3-2.1-.3-.7 0-1.4.1-2.1.3-4.6 1.2-3.1 6.6-1.2 10.8l22.8 56.8H1365l-72.6-179.6-47.1 116.2 10.8 26.6 12 29.3c19.7 43.2-8.1 85.3-59.9 86.9h-1.5c-14.2 0-29-5.4-39.5-16.6-.4-.4-.4-.8-.4-1.2v-54.1c0-1.2.8-1.9 1.9-1.9 1.2 0 1.9.8 1.9 1.9 1.2 25.5 25.5 46.3 49 52.1 4 1 7.8 1.5 11.3 1.5 41.4 0 45.8-64.3 1.6-64.3-4.1 0-8.7.6-13.7 1.8-1.2 0-1.9-.4-2.3-1.2l-87.3-215.5c-7.3-13.5-19.3-21.6-37.1-21.6H1075c-5.4 0-7 3.9-7 7.7v207.4c0 11.2 9.3 19.7 20.5 19.7h17c1.2 0 1.9.8 1.9 1.9 0 1.2-.4 2.3-1.5 2.3h-75.3l-15.1-37.1V12.9c0-3.9-3.1-7.3-7-7.7h-44c-18.1 0-30.5 18.1-23.6 35.1l17.8 44.4c.8 1.2-.4 2.7-1.9 2.7-.8 0-1.5-.4-1.9-1.2L921.3 3.6c-.4-1.2.8-3.2 2.3-3.2H1158c8.9 0 17 5.9 20.5 14l64.1 157.9 46.7-116.2-18.5-45.6c-1.2-3.1-4.6-5.4-8.1-5.4h-8.5c-1.5 0-2.3-1.2-2.3-2.3 0-1.2.8-2.4 1.9-2.4h130.9m46.7 177.7c28.6 0 28.2-24.3 21.2-49-6.6-26.3-26.3-74.1-41.3-91.9-16.2-19.7-43.6-32-68.7-32h-9.7c-8.9.4-9.7 6.2-6.2 14.3l45.2 111.2c15.9 39.3 36 46.3 59.5 47.4M1384.7-.6h-130.9c-1.8 0-2.9 1.8-2.9 3.4 0 1.6 1.1 3.3 3.3 3.3h8.5c3.1 0 6.2 2 7.2 4.8l18.4 45.2-45.6 113.6L1179.4 14c-3.7-8.7-12.3-14.6-21.4-14.6H923.7c-1 0-2 .5-2.6 1.5-.7 1-.9 2.1-.6 3L954 86.6c.5 1.1 1.6 1.7 2.8 1.7 1.2 0 2.3-.7 2.9-1.7.4-.8.4-1.7 0-2.5L942 39.9c-3.2-7.8-2.4-16.1 2.2-23 4.5-6.8 12.2-10.8 20.4-10.8h44c3.3.4 6 3.4 6 6.7v194.8l.1.2 15.1 37.1.3.6h76c1.6 0 2.5-1.3 2.5-3.3 0-1.7-1.2-2.9-2.9-2.9h-17c-10.9 0-19.5-8.2-19.5-18.7V13.3c0-4.5 2-6.7 6-6.7h17.4c16.4 0 28.6 7.1 36.2 21.1l87.2 215.4c.4.8 1.3 1.7 3.2 1.7h.2c4.7-1.2 9.3-1.8 13.4-1.8 9.6 0 17.5 3.1 22.9 9.1 4.8 5.2 7.4 12.5 7.4 20.3 0 15.9-11.2 32.8-31.9 32.8-3.5 0-7.2-.5-11.1-1.4-22.8-5.6-47.1-26.3-48.3-51.2 0-1.7-1.2-2.9-2.9-2.9s-2.9 1.2-2.9 2.9v54.1c0 .4 0 1.2.7 1.9 10 10.7 24.7 16.9 40.2 16.9h1.5c25.9-.8 47.3-11.8 58.7-30.1 10.5-16.8 11.2-38 2-58.2l-12-29.3-10.7-26.3 46-113.6 71.7 177.3.3.6h55.9l-.6-1.4-22.8-56.8c-2.2-4.7-2-7-1.5-8 .3-.7 1-1.2 2-1.4.7-.2 1.3-.3 1.9-.3.6 0 1.2.1 1.9.3 10.4 3 21 4.5 31.5 4.5 15.3 0 30.8-3.2 45.9-9.6 7.3-3.4 13-8.9 16.7-15.9 5.5-10.2 6.1-22.3 1.6-33.3l-25.5-62.6c-5.8-14.4-13.8-26.6-23.8-36.3l-.8-.8c-16.3-15.7-39-24.9-62.1-24.9zm46.7 177.7c-25-1.2-43.5-9.5-58.6-46.9L1327.6 19c-2-4.7-2.4-8.2-1.1-10.3 1-1.6 3.2-2.5 6.4-2.6h9.6c25.4 0 52.1 12.4 68 31.7 14.3 16.9 34.2 63.9 41.1 91.5 5.4 19 5.2 32.5-.6 40-3.8 5.2-10.4 7.8-19.6 7.8z"
      ></path>
      <path
        class="st0"
        d="M1624.9.4c1.2 0 1.9.5 1.9 1.6v17.4c0 1.3-1.1 2-2.1 2-.2 0-.4 0-.6-.1-37.5-14.6-42.1-16.5-106.6-16.5h-3.9l17.8 44 13.5 33.6h59.1c1.2 0 1.9.8 1.9 1.5.8 3.9 3.1 15.1 4.2 21.2.3 1.2-.6 2.2-1.7 2.2-.3 0-.7-.1-1-.2-18.9-12.7-37.8-18.1-54.4-20.1-1.5-.4-6.6-.4-6.6-.4l62.6 152.9h33.2c5 0 10-.4 15.1-.8 22-1.9 34.8-6.6 57.9-15.8.3-.2.5-.3.8-.3.9 0 1.5.9 1.5 1.8v17.4c0 1.2-.8 1.9-1.9 1.9l-158.7.4-91.5-226.7C1458.8 5 1453 4.7 1440.3 4.7h-2.3c-1.2 0-2.3-1.2-2.3-2.3 0-1.5 1.2-2 2.3-2h186.9m0-1H1438c-2 0-3.3 1.2-3.3 3 0 1.7 1.6 3.3 3.3 3.3h2.3c12.6 0 18 .5 24.2 12.2l91.5 226.6.3.6h.7l158.7-.4c1.7 0 2.9-1.2 2.9-2.9v-17.4c0-1.5-1.2-2.8-2.5-2.8-.4 0-.8.1-1.2.4-22.5 9-35.3 13.8-57.6 15.7-4.9.4-10 .8-15 .8h-32.5L1548 87.6c1.7 0 4 .1 4.8.3h.2c19.6 2.3 37.8 9 54 19.9h.2c.5.2 1 .4 1.4.4.9 0 1.7-.4 2.2-1.1.5-.6.7-1.5.5-2.3-.8-4.5-2.3-11.6-3.3-16.7-.4-1.8-.7-3.4-.9-4.4-.1-1.4-1.4-2.4-2.9-2.4h-58.4l-13.3-33-17.2-42.6h2.4c64 0 68.7 1.9 105.7 16.3l.5.2c.3.1.6.1.9.1 1.5 0 3.1-1.1 3.1-3V2.1c-.1-1.7-1.2-2.7-3-2.7z"
      ></path>
    </svg>
  </div>

  <div class="base">
    <small>
      ©{new Date().getFullYear()} Mimotype Technologies, GmbH
    </small>
    <small>Tempelhofer Ufer 21, Berlin, 10963, DE</small>
  </div>
</footer>

<style lang="scss">
  .footer {
    width: 92vw;
    margin: 0 auto;
    margin-top: 10rem;
  }
  .svgWrapper {
    width: 100%;
    max-width: 1800px;
    position: relative;
    margin: 0 auto;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    svg {
      width: 100%;
    }
  }
  .base {
    width: 92vw;
    max-width: 1800px;
    margin: 0 auto;
    border-top: 1px solid var(--color-grey);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    p {
      color: var(--color-grey);
      font-family: "Allnce-Neue-Regular";
    }
    small {
    }
  }
  @media (max-width: 576px) {
    .footer {
      margin-top: 5rem;
    }
  }
</style>
