@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&display=swap");
@import url("./reset.css");

@font-face {
  font-family: "Allnce-Neue-Regular";
  src: url("/fonts/allnce-neue-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}
@font-face {
  font-family: "Allnce-Neue-Light";
  src: url("/fonts/allnce-neue-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Allnce-Text-Regular";
  src: url("/fonts/allnce-text-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Allnce-Text-Medium";
  src: url("/fonts/allnce-text-medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --container-max-width: 90%;
  --container-max-width-narrow: 960px;
  --container-padding: 0 1rem;
  --color-grey: #878787;
  --color-bg: #1f1f1f;
  --color-text: white;
  --color-red-light: #f8634e;
  --color-red-dark: #311d1a;
  --color-green-light: #c9ff84;
  --color-green-dark: #32381e;
  --color-purple-light: #d1aaf9;
  --color-purple-dark: #302c4f;
  --color-yellow-light: #f3d329;
  --color-yellow-dark: #252421;
  --max-page-width: 1800px;
  --page-width: 92vw;
  --breakpoint-xxl: 1500px;
  --breakpoint-xl: 1280px;
  --breakpoint-l: 992px;
  --breakpoint-m: 768px;
  --breakpoint-s: 576px;
  --breakpoint-xs: 374px;
  --hover-transition: 0.75s all ease;
}

#mc_embed_signup div.mce_inline_error {
  position: absolute;
  margin: unset;
  padding: unset;
  background-color: unset;
  font-weight: unset;
  color: unset;
  z-index: 1;
  margin: 1rem 0;
  font-family: "Overpass Mono", monospace;
  color: var(--color-green-light);
  transition: var(--hover-transition);
  letter-spacing: 0px;
  color: var(--color-grey);
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 576px) {
  #mc_embed_signup div.mce_inline_error {
    font-size: 12px;
  }
}

#mc-embedded-subscribe-form {
  position: relative;
  z-index: 10;
}

#mce-success-response {
  position: absolute;
  margin: unset;
  padding: unset;
  background-color: unset;
  font-weight: unset;
  color: unset;
  z-index: 1;
  margin: 1rem 0;
  font-family: "Overpass Mono", monospace;
  color: var(--color-green-light);
  transition: var(--hover-transition);
  letter-spacing: 0px;
  color: var(--color-grey);
  font-size: 14px;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  color: var(--color-text);
  /* font-family: "Open Sans", Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
blockquote,
small {
  font-family: "Allnce-Neue-Regular", Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 115%;
}

/* Font scale */
h1 {
  font-size: 96px;
  letter-spacing: -3px;
}

h2 {
  letter-spacing: -3px;

  font-size: 64px;
}

h3 {
  letter-spacing: -1px;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 125%;
}

h4,
blockquote {
  letter-spacing: 0px;
  font-size: 32px;
  line-height: 125%;
}

h6 {
  font-family: "Allnce-Neue-Light", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 115%;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  transition: var(--hover-transition);
  font-family: "Allnce-Text-Regular", Arial, Helvetica, sans-serif;
  line-height: 150%;
  font-weight: 100;
  letter-spacing: 0.75px;
}

p {
  font-size: 17px;
}

li,
p {
  font-family: "Allnce-Text-Regular", Arial, Helvetica, sans-serif;
  line-height: 175%;
  letter-spacing: 0.65px;
}

p > strong {
  font-family: "Allnce-Text-Medium", Arial, Helvetica, sans-serif;
}

p > em {
  font-family: "Allnce-Text-Medium", Arial, Helvetica, sans-serif;
  font-style: italic;
}

strong {
  font-family: "Allnce-Text-Medium", Arial, Helvetica, sans-serif;
}

small {
  font-family: "Overpass Mono", monospace;
  letter-spacing: 0px;
  color: var(--color-grey);
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1430px) {
  /* Font scale, small desktop */
  h1 {
    font-size: 64px;
  }

  h2 {
    letter-spacing: -1px;
    font-size: 40px;
  }

  h3 {
    letter-spacing: -1px;
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 115%;
  }

  h6 {
    font-size: 17px;
  }
  a {
    line-height: unset;
  }

  p {
    font-size: 17px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 28px;
  }
  small {
    font-size: 13px;
  }
}
